Repository openmcp-project/metrics-operator: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, gomodVerify

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

gomodVerify:
  run: 'go mod tidy -v $@
  
    if [ $? -ne 0 ]; then
  
    exit 2
  
    fi
  
  
    git diff --exit-code go.* &> /dev/null
  
    if [ $? -ne 0 ]; then
  
    echo "go.mod or go.sum differs, please re-add it to your commit"
  
    exit 3
  
    fi
  
    '

feat: otel support
  go.mod
  internal/client/client.go
  internal/client/client_test.go
  internal/client/metrics.go
Due: gofmt, golangci-lint, gomodVerify

chore: Readme and kubebuilder
  PROJECT
  README.md
Due: none

Rename project to metrics-operator
  PROJECT
Due: none

fix group
  PROJECT
Due: none

update golangcilint
  .golangci.yml
  Makefile
Due: none

fix: linting issues
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
Due: gofmt, golangci-lint

Run more checks in ci action
  .github/workflows/reviewable.yaml
Due: none

go mod tidy
  go.sum
Due: gomodVerify

fix golangci-lint
  Makefile
  go.mod
Due: gomodVerify

chore: Run more checks in ci action (#6)
  .github/workflows/reviewable.yaml
  Makefile
  go.mod
  go.sum
Due: gomodVerify

feat: otel - init
  internal/clientlite/dtclient.go
  internal/clientlite/dtclient_test.go
  internal/controller/compoundmetric_controller.go
  internal/controller/singlemetric_controller.go
  internal/orchestrator/compoundhandler.go
  internal/orchestrator/orchestrator.go
  internal/orchestrator/singlehandler.go
Due: gofmt, golangci-lint

fix lint issues
  api/v1beta1/common_types.go
  internal/controller/compoundmetric_controller.go
  internal/controller/singlemetric_controller.go
Due: gofmt, golangci-lint

fix examples
  examples/basic_metric.yaml
  examples/dev-core/metric.yaml
  examples/fed-managed-resoruces/crossplane-managed.yaml
  examples/federated-resources/crdsdeletion.yaml
  examples/federated-resources/entitlements.yaml
  examples/federated-resources/serviceinstances.yaml
  examples/federated-resources/subaccounts.yaml
  examples/managed_metric.yaml
  examples/remoteclusteraccess/metric_with_rca.yaml
  examples/v1beta1/compmetric.yaml
  examples/v1beta1/fedmetric.yaml
  examples/v1beta1/singlemetric.yaml
Due: none

working metrics via otel
  Makefile
  examples/crossplane/provider-config.yaml
  examples/crossplane/provider.yaml
  examples/crossplane/release-oci.yaml
  examples/crossplane/release.yaml
  internal/orchestrator/compoundhandler.go
  internal/orchestrator/singlehandler.go
Due: gofmt, golangci-lint

fix linting
  internal/orchestrator/compoundhandler.go
Due: gofmt, golangci-lint

Fix local helm chart install
  Makefile
  charts/metrics-operator/.helmignore
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/Chart.yaml.tpl
  charts/metrics-operator/templates/.gitignore
  charts/metrics-operator/templates/_helpers.tpl
  charts/metrics-operator/templates/deployment.yaml
  charts/metrics-operator/templates/rbac.yaml
  charts/metrics-operator/templates/secret-webhooks.yaml
  charts/metrics-operator/templates/service-metrics.yaml
  charts/metrics-operator/templates/service-webhooks.yaml
  charts/metrics-operator/templates/serviceaccount.yaml
  charts/metrics-operator/values.yaml
  charts/metrics-operator/values.yaml.tpl
Due: none

Remove v1beta1.singlemetric
  api/v1beta1/compoundmetric_types.go
  api/v1beta1/singlemetric_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/compoundmetric_controller.go
  internal/controller/singlemetric_controller.go
  internal/orchestrator/orchestrator.go
  internal/orchestrator/singlehandler.go
Due: gofmt, golangci-lint

rename chart
  charts/metrics-operator/.helmignore
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/Chart.yaml.tpl
  charts/metrics-operator/templates/.gitignore
  charts/metrics-operator/templates/_helpers.tpl
  charts/metrics-operator/templates/deployment.yaml
  charts/metrics-operator/templates/rbac.yaml
  charts/metrics-operator/templates/secret-webhooks.yaml
  charts/metrics-operator/templates/service-metrics.yaml
  charts/metrics-operator/templates/service-webhooks.yaml
  charts/metrics-operator/templates/serviceaccount.yaml
  charts/metrics-operator/values.yaml
  charts/metrics-operator/values.yaml.tpl
Due: none

singlemetric cleanup
  Makefile
  PROJECT
  README.md
  cmd/embedded/crds/metrics.cloud.sap_singlemetrics.yaml
  config/crd/bases/metrics.cloud.sap_singlemetrics.yaml
  config/crd/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/singlemetric_editor_role.yaml
  config/rbac/singlemetric_viewer_role.yaml
  config/samples/insight_v1beta1_singlemetric.yaml
  config/samples/kustomization.yaml
  examples/v1beta1/singlemetric.yaml
Due: none

update example spec
  examples/basic_metric.yaml
Due: none

add projections to v1alpha1 metric type
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/embedded/crds/metrics.cloud.sap_metrics.yaml
  config/crd/bases/metrics.cloud.sap_metrics.yaml
Due: gofmt, golangci-lint

initially replace v1beta1.CompoundMetric with v1alpha1.Metric
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/embedded/crds/metrics.cloud.sap_metrics.yaml
  cmd/main.go
  config/crd/bases/metrics.cloud.sap_metrics.yaml
  internal/config/external_config.go
  internal/controller/compoundmetric_controller.go
  internal/orchestrator/compoundhandler.go
  internal/orchestrator/orchestrator.go
Due: gofmt, golangci-lint

remove compound metric types
  api/v1beta1/compoundmetric_types.go
  api/v1beta1/federatedclusteraccess_types.go
  api/v1beta1/federatedmetric_types.go
  api/v1beta1/zz_generated.deepcopy.go
Due: gofmt, golangci-lint

replace controllers and handlers
  Makefile
  cmd/main.go
  config/rbac/role.yaml
  examples/basic_metric.yaml
  internal/controller/compoundmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_controller_test.go
  internal/orchestrator/generichandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/orchestrator.go
Due: gofmt, golangci-lint

clean up
  Makefile
  README.md
  api/v1beta1/federatedclusteraccess_types.go
  cmd/embedded/crds/metrics.cloud.sap_compoundmetrics.yaml
  cmd/main.go
  config/crd/bases/metrics.cloud.sap_compoundmetrics.yaml
  config/crd/kustomization.yaml
  config/rbac/compoundmetric_editor_role.yaml
  config/rbac/compoundmetric_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/samples/insight_v1beta1_compoundmetric.yaml
  config/samples/kustomization.yaml
  examples/v1beta1/compmetric.yaml
  internal/config/external_config.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/orchestrator.go
Due: gofmt, golangci-lint

rename files
  internal/controller/compoundmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

fix metrics with no projections
  examples/basic_metric.yaml
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint

restore spec.target and swtich to gvk
  api/v1alpha1/common_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/embedded/crds/metrics.cloud.sap_metrics.yaml
  config/crd/bases/metrics.cloud.sap_metrics.yaml
  examples/basic_metric.yaml
  internal/controller/metric_controller_test.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint

Move all remaining types to v1alpha1
  api/v1alpha1/common_types.go
  api/v1alpha1/federatedclusteraccess_types.go
  api/v1alpha1/federatedmanagedmetric_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/remoteclusteraccess_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/clusteraccess_types.go
  api/v1beta1/common_types.go
  api/v1beta1/groupversion_info.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/embedded/crds/metrics.cloud.sap_federatedclusteraccesses.yaml
  cmd/embedded/crds/metrics.cloud.sap_federatedmanagedmetrics.yaml
  cmd/embedded/crds/metrics.cloud.sap_federatedmetrics.yaml
  cmd/embedded/crds/metrics.cloud.sap_managedmetrics.yaml
  cmd/embedded/crds/metrics.cloud.sap_metrics.yaml
  cmd/main.go
  config/crd/bases/metrics.cloud.sap_federatedclusteraccesses.yaml
  config/crd/bases/metrics.cloud.sap_federatedmanagedmetrics.yaml
  config/crd/bases/metrics.cloud.sap_federatedmetrics.yaml
  config/crd/bases/metrics.cloud.sap_managedmetrics.yaml
  config/crd/bases/metrics.cloud.sap_metrics.yaml
  internal/config/external_config.go
  internal/controller/clusteraccess_controller.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_controller_test.go
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/orchestrator.go
Due: gofmt, golangci-lint

fix lint
  api/v1alpha1/common_types.go
  api/v1alpha1/metric_types.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint

add actions and make needed Makefiles and scripts changes
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/reviewable.yaml
  Makefile
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
  component-constructor.yaml
  settings.yaml
Due: none

update action triggers
  .github/workflows/license-check.yaml
  .github/workflows/reuse-scan.yaml
  .github/workflows/reviewable.yaml
Due: none

chore: Add release and publish automation (#12)
  .github/workflows/license-check.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse-scan.yaml
  .github/workflows/reviewable.yaml
  Makefile
  VERSION
  api/v1alpha1/common_types.go
  api/v1alpha1/metric_types.go
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
  component-constructor.yaml
  internal/orchestrator/metrichandler.go
  settings.yaml
Due: gofmt, golangci-lint

fix action permission
  .github/workflows/release.yaml
Due: none

fix action permission (#13)
  .github/workflows/release.yaml
Due: none

Update VERSION to v0.5.0-dev
  VERSION
Due: none

Additional actions fixes
  .github/workflows/license-check.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse-scan.yaml
  .github/workflows/reviewable.yaml
Due: none

bump version
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

chore: Additional actions fixes (#14)
  .github/workflows/license-check.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse-scan.yaml
  .github/workflows/reviewable.yaml
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  gomodVerify: any of: {go.mod,go.sum}
