Repository openmcp-project/metrics-operator: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, gomodVerify

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    gomodVerify:
      glob: "{go.mod,go.sum}"
      run: |
        go mod tidy -v $@
        if [ $? -ne 0 ]; then
        exit 2
        fi

        git diff --exit-code go.* &> /dev/null
        if [ $? -ne 0 ]; then
        echo "go.mod or go.sum differs, please re-add it to your commit"
        exit 3
        fi

fix docs
  README.md
  docs/dimensions-configuration.md
Due: none

running task generate
  api/v1alpha1/zz_generated.deepcopy.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

regenerate deepcopy and crds
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
Due: gofmt, golangci-lint

remove default behaviour from function, as default is set via api definition
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

fix default value of Type
  api/v1alpha1/common_types.go
Due: gofmt, golangci-lint

update docs
  README.md
  docs/dimensions-configuration.md
Due: none

Update api/v1alpha1/common_types.go add +optional to Type
  api/v1alpha1/common_types.go
Due: gofmt, golangci-lint

fix blockquote
  docs/dimensions-configuration.md
Due: none

remove Configuring Dimensions for README and link to docs/domensions-configuration
  README.md
Due: none

refactor: rename Type to DimensionType
  api/v1alpha1/common_types.go
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

feat: Add support for map and slice dimensions for metrics and managedmetrics (#138)
  README.md
  api/v1alpha1/common_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  docs/dimensions-configuration.md
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

code changes and unit tests
  api/v1alpha1/federatedclusteraccess_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedclusteraccesses.yaml
  internal/config/external_config.go
  internal/config/external_config_test.go
  internal/controller/federatedmetric_controller.go
Due: gofmt, golangci-lint

update readme
  README.md
Due: none

fix
  internal/config/external_config.go
  internal/controller/federatedmanagedmetric_controller.go
Due: gofmt, golangci-lint

simplify type conversion
  internal/config/external_config.go
Due: gofmt, golangci-lint

fix doc
  README.md
Due: none

feat: improve `FederatedClusterAccess` (#148)
  README.md
  api/v1alpha1/federatedclusteraccess_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedclusteraccesses.yaml
  internal/config/external_config.go
  internal/config/external_config_test.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
Due: gofmt, golangci-lint

fix: new apis plus linting
  cmd/metrics-operator/main.go
  internal/config/token_manager_test.go
  internal/controller/datasink_utils.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_controller_test.go
Due: gofmt, golangci-lint

feat: release v0.9.0
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: release v0.9.0 (#149)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

chore(release): Update VERSION to v0.9.0-dev
  VERSION
Due: none

feat: add certificate based authentication (mTLS)
  api/v1alpha1/datasink_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
  internal/clientoptl/optl.go
  internal/common/common.go
  internal/controller/datasink_utils.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

add grpc support for data sink
  go.mod
  go.sum
  internal/clientoptl/optl.go
Due: gofmt, golangci-lint, gomodVerify

add endpoint validation
  api/v1alpha1/datasink_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
Due: gofmt, golangci-lint

docs
  README.md
  internal/clientoptl/optl.go
Due: gofmt, golangci-lint

make secret handling more robust
  internal/controller/datasink_utils.go
Due: gofmt, golangci-lint

generate
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedclusteraccesses.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_remoteclusteraccesses.yaml
Due: none

fix linting
  internal/clientoptl/optl.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint

chore: fix go mod version download
  .github/workflows/license-check.yaml
Due: none

chore: use license check from lib
  .github/workflows/license-check.yaml
Due: none

chore: use license check from lib (#154)
  .github/workflows/license-check.yaml
Due: none

Apply suggestion from @christophrj
  api/v1alpha1/datasink_types.go
Due: gofmt, golangci-lint

Apply suggestion from @christophrj
  internal/controller/datasink_utils.go
Due: gofmt, golangci-lint

feat: add certificate based authentication (mTLS) and gRPC protocol support (#150)
  README.md
  api/v1alpha1/datasink_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
  go.mod
  go.sum
  internal/clientoptl/optl.go
  internal/common/common.go
  internal/controller/datasink_utils.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint, gomodVerify

fix: disable webhook configuration as there isn't any webhook implementation
  cmd/metrics-operator/main.go
Due: gofmt, golangci-lint

fix: disable webhook configuration as there isn't any webhook implementation (#158)
  cmd/metrics-operator/main.go
Due: gofmt, golangci-lint

fix: add events permissions
  charts/metrics-operator/values.yaml
Due: none
