Repository openmcp-project/metrics-operator: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, gomodVerify

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    gomodVerify:
      glob: "{go.mod,go.sum}"
      run: |
        go mod tidy -v $@
        if [ $? -ne 0 ]; then
        exit 2
        fi

        git diff --exit-code go.* &> /dev/null
        if [ $? -ne 0 ]; then
        echo "go.mod or go.sum differs, please re-add it to your commit"
        exit 3
        fi

Remove unknown fields from datasink crd
  README.md
Due: none

chore: migrate to use taskfiles and common github actions (#57)
  .dockerignore
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse-scan.yaml
  .github/workflows/reuse.yaml
  .github/workflows/reviewable.yaml
  .github/workflows/validate-pr-content.yaml
  .gitmodules
  .golangci.yaml
  Makefile
  README.md
  Taskfile.yaml
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedclusteraccesses.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_remoteclusteraccesses.yaml
  cmd/metrics-operator/main.go
  config/crd/bases
  config/crd/bases/metrics.openmcp.cloud_federatedclusteraccesses.yaml
  config/crd/bases/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  config/crd/bases/metrics.openmcp.cloud_federatedmetrics.yaml
  config/crd/bases/metrics.openmcp.cloud_metrics.yaml
  config/crd/bases/metrics.openmcp.cloud_remoteclusteraccesses.yaml
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

docs: fix `DataSink` CR example (#58)
  README.md
Due: none

chore: update to go 1.24
  go.mod
Due: gomodVerify

chore: add pull request template
  .github/pull_request_template.md
Due: none

chore: update to go 1.24 (#62)
  .github/pull_request_template.md
  go.mod
Due: gomodVerify

chore(dep): update go.mod
  go.mod
  go.sum
  internal/config/token_manager.go
Due: gofmt, golangci-lint, gomodVerify

chore(dep): update go.mod (#63)
  go.mod
  go.sum
  internal/config/token_manager.go
Due: gofmt, golangci-lint, gomodVerify

Update README.md
  README.md
Due: none

Extend documentation for the remote cluster access
  README.md
Due: none

docs(readme): update documentation for remote cluster access (#67)
  README.md
Due: none

docs: update readme with info to open telemetry (OTEL)
  README.md
Due: none

feat(datasinkref): openapi schema spec defaulting
  api/v1alpha1/federatedmanagedmetric_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  internal/controller/metric_controller_test.go
Due: gofmt, golangci-lint

fix(projection): nested value retrieval with jsonpath selectors
  README.md
  go.mod
  go.sum
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint, gomodVerify

add registry portion
  charts/metrics-operator/templates/deployment.yaml
Due: none

Add registry portion (#2)
  charts/metrics-operator/templates/deployment.yaml
Due: none

chore: update renovate config
  renovate.json
Due: none

feat(datasinkref): openapi schema spec defaulting (#80)
  api/v1alpha1/federatedmanagedmetric_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  internal/controller/metric_controller_test.go
Due: gofmt, golangci-lint

chore: remove unnecessary config
  renovate.json
Due: none

chore: update renovate config (#84)
  renovate.json
Due: none

chore(crds): update kubebuilder version
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedclusteraccesses.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_remoteclusteraccesses.yaml
Due: none

chore: update build submodule (#87)
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedclusteraccesses.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_remoteclusteraccesses.yaml
Due: none

docs(projections): selector syntax overview
  README.md
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

docs(projections): filter condition typo
  README.md
Due: none

fix(projection): nested value retrieval with jsonpath selectors (#81)
  README.md
  go.mod
  go.sum
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint, gomodVerify

fix(managedmetric): gvk filtering based on spec fields
  .github/workflows/license-check.yaml
  go.mod
  internal/orchestrator/managedhandler.go
  internal/orchestrator/managedhandler_test.go
Due: gofmt, golangci-lint, gomodVerify

test(managedhandler): vendor neutral test data
  internal/orchestrator/managedhandler_test.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

fix(managedmetric): gvk filtering based on spec fields (#88)
  .github/workflows/license-check.yaml
  go.mod
  internal/orchestrator/managedhandler.go
  internal/orchestrator/managedhandler_test.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint, gomodVerify

feat(managedmetric)!: new target spec field
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  internal/orchestrator/managedhandler.go
  internal/orchestrator/managedhandler_test.go
Due: gofmt, golangci-lint

feat(managedmetric)!: new target spec field (#89)
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  internal/orchestrator/managedhandler.go
  internal/orchestrator/managedhandler_test.go
Due: gofmt, golangci-lint

fix(test): implement missing function for client.Client interface compatibility
  internal/config/external_config_test.go
Due: gofmt, golangci-lint

feat: release v0.7.0
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: release v0.7.0 (#94)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

chore(release): Update VERSION to v0.7.0-dev
  VERSION
Due: none

fix(helm): `image.repository` location
  charts/metrics-operator/values.yaml
  charts/metrics-operator/values.yaml.tpl
Due: none

fix: Dockerfile to support multiarch images
  Dockerfile
Due: none

fix: component-constructor to suppport multiarch images
  component-constructor.yaml
Due: none

feat: release v0.7.1
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none
