Repository openmcp-project/metrics-operator: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, gomodVerify

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    gomodVerify:
      glob: "{go.mod,go.sum}"
      run: |
        go mod tidy -v $@
        if [ $? -ne 0 ]; then
        exit 2
        fi

        git diff --exit-code go.* &> /dev/null
        if [ $? -ne 0 ]; then
        echo "go.mod or go.sum differs, please re-add it to your commit"
        exit 3
        fi

Update VERSION to v0.5.1-dev
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

Build multi arch images
  .github/workflows/publish.yaml
  VERSION
Due: none

Build multi arch images
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

Build multi arch images (#16)
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

Update VERSION to v0.5.2-dev
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

docs: update chart paths and installation guide
  README.md
Due: none

change interval name and fix examples
  api/v1alpha1/federatedmanagedmetric_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/embedded/crds/metrics.cloud.sap_federatedmanagedmetrics.yaml
  cmd/embedded/crds/metrics.cloud.sap_federatedmetrics.yaml
  cmd/embedded/crds/metrics.cloud.sap_managedmetrics.yaml
  cmd/embedded/crds/metrics.cloud.sap_metrics.yaml
  config/crd/bases/metrics.cloud.sap_federatedmanagedmetrics.yaml
  config/crd/bases/metrics.cloud.sap_federatedmetrics.yaml
  config/crd/bases/metrics.cloud.sap_managedmetrics.yaml
  config/crd/bases/metrics.cloud.sap_metrics.yaml
  examples/basic_metric.yaml
  examples/dev-core/metric.yaml
  examples/fed-managed-resoruces/crossplane-managed.yaml
  examples/federated-resources/crdsdeletion.yaml
  examples/federated-resources/entitlements.yaml
  examples/federated-resources/serviceinstances.yaml
  examples/federated-resources/subaccounts.yaml
  examples/managed_metric.yaml
  examples/remoteclusteraccess/metric_with_rca.yaml
  examples/v1beta1/fedmetric.yaml
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_controller_test.go
Due: gofmt, golangci-lint

fix remote ca ref, needs to be optional
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

change interval name and fix examples (#18)
  api/v1alpha1/federatedmanagedmetric_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/embedded/crds/metrics.cloud.sap_federatedmanagedmetrics.yaml
  cmd/embedded/crds/metrics.cloud.sap_federatedmetrics.yaml
  cmd/embedded/crds/metrics.cloud.sap_managedmetrics.yaml
  cmd/embedded/crds/metrics.cloud.sap_metrics.yaml
  config/crd/bases/metrics.cloud.sap_federatedmanagedmetrics.yaml
  config/crd/bases/metrics.cloud.sap_federatedmetrics.yaml
  config/crd/bases/metrics.cloud.sap_managedmetrics.yaml
  config/crd/bases/metrics.cloud.sap_metrics.yaml
  examples/basic_metric.yaml
  examples/dev-core/metric.yaml
  examples/fed-managed-resoruces/crossplane-managed.yaml
  examples/federated-resources/crdsdeletion.yaml
  examples/federated-resources/entitlements.yaml
  examples/federated-resources/serviceinstances.yaml
  examples/federated-resources/subaccounts.yaml
  examples/managed_metric.yaml
  examples/remoteclusteraccess/metric_with_rca.yaml
  examples/v1beta1/fedmetric.yaml
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_controller_test.go
Due: gofmt, golangci-lint

fix remote ca ref, needs to be optional nil
  api/v1alpha1/zz_generated.deepcopy.go
Due: gofmt, golangci-lint

Fix remote cluster access ref (#19)
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

update readme
  README.md
Due: none

add diagrams
  README.md
Due: none

all metrics now use otel and fixed bug for managed metric sending multiple times
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/orchestrator.go
Due: gofmt, golangci-lint

remove old client
  internal/client/client.go
  internal/client/client_test.go
  internal/client/metrics.go
Due: gofmt, golangci-lint

Update readme (#20)
  README.md
Due: none

go mod tidy
  go.mod
  go.sum
Due: gomodVerify

Fix otel for all metrics (#21)
  go.mod
  go.sum
  internal/client/client.go
  internal/client/client_test.go
  internal/client/metrics.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/orchestrator.go
Due: gofmt, golangci-lint, gomodVerify

event driven controller: fix linting
  cmd/main.go
  internal/controller/dynamicinformermanager.go
  internal/controller/eventdrivencontroller.go
  internal/controller/gvrdiscovery.go
  internal/controller/metricupdatecoordinator.go
  internal/controller/resourceeventhandler.go
  internal/controller/resourcescopediscovery.go
  internal/controller/targetregistry.go
Due: gofmt, golangci-lint

refactor multi arch build
  Makefile
Due: none

build and push releases using docker
  .github/workflows/publish.yaml
  component-constructor.yaml
Due: none

package and push helm chart
  .github/workflows/publish.yaml
  Makefile
Due: none

docs: update chart paths and installation guide (#17)
  README.md
Due: none

Revert "docs: update chart paths and installation guide (#17)"
  README.md
Due: none

chore: make manifests
  config/crd/bases/metrics.cloud.sap_clusteraccesses.yaml
Due: none

docs(readme): update sample
  README.md
Due: none

chore: remove `ClusterAccess` CRD
  cmd/embedded/crds/metrics.cloud.sap_clusteraccesses.yaml
  config/rbac/role.yaml
  internal/controller/clusteraccess_controller.go
Due: gofmt, golangci-lint

fix: remove test
  internal/config/token_manager_test.go
Due: gofmt, golangci-lint

fix(helm): image location
  charts/metrics-operator/values.yaml
  charts/metrics-operator/values.yaml.tpl
Due: none

refactor: co-dynatrace-credentials to dynatrace-credentials
  examples/sample-secret
  internal/common/common.go
Due: gofmt, golangci-lint

simplify data sink connection for now
  api/v1alpha1/datasink_types.go
  cmd/embedded/crds/metrics.cloud.sap_datasinks.yaml
  config/crd/bases/metrics.cloud.sap_datasinks.yaml
  examples/datasink/basic-datasink.yaml
  internal/controller/datasink_utils.go
Due: gofmt, golangci-lint

update status correctly, ensure it is always set
  api/v1alpha1/conditions.go
  internal/common/conditions.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

fix make reviewable for now
  internal/controller/datasink_utils.go
Due: gofmt, golangci-lint

fix helmchart
  charts/metrics-operator/values.yaml
Due: none
