Repository openmcp-project/metrics-operator: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, gomodVerify

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    gomodVerify:
      glob: "{go.mod,go.sum}"
      run: |
        go mod tidy -v $@
        if [ $? -ne 0 ]; then
        exit 2
        fi

        git diff --exit-code go.* &> /dev/null
        if [ $? -ne 0 ]; then
        echo "go.mod or go.sum differs, please re-add it to your commit"
        exit 3
        fi

Update rbac.yaml from openmcp.cloud to open-control-plane.io
  charts/metrics-operator/templates/rbac.yaml
Due: none

feat: support Kubernetes admin, edit and view role aggregation (#247)
  charts/metrics-operator/templates/rbac.yaml
Due: none

feat: release v1.0.0
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: release v1.0.0 (#248)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

doc: move content from co here
  README.md
Due: none

feat: wildcard GVK target matching with discovery cache
  api/v1alpha1/common_types.go
  api/v1alpha1/common_types_test.go
  api/v1alpha1/federatedclusteraccess_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedclusteraccesses.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_metrics.yaml
  go.mod
  go.sum
  internal/config/external_config_test.go
  internal/controller/federatedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_controller_test.go
  internal/orchestrator/discovery_lookup.go
  internal/orchestrator/discovery_lookup_test.go
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/managedhandler_test.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint, gomodVerify

fix: address goconst and slicescontains linter warnings
  internal/orchestrator/discovery_lookup.go
Due: gofmt, golangci-lint

feat: add ReasonAvailable for resource availability and update condition reason in Available function
  api/v1alpha1/conditions.go
  internal/common/conditions.go
Due: gofmt, golangci-lint

chore(deps): renovate org-preset
  .github/renovate.json
  renovate.json
Due: none

chore(deps): use renovate org-preset (#256)
  .github/renovate.json
  renovate.json
Due: none

fix: review comments
  internal/orchestrator/discovery_lookup.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint

feat: wildcard GVK target matching with discovery cache (#253)
  api/v1alpha1/common_types.go
  api/v1alpha1/common_types_test.go
  api/v1alpha1/conditions.go
  api/v1alpha1/federatedclusteraccess_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedclusteraccesses.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_metrics.yaml
  go.mod
  go.sum
  internal/common/conditions.go
  internal/config/external_config_test.go
  internal/controller/federatedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_controller_test.go
  internal/orchestrator/discovery_lookup.go
  internal/orchestrator/discovery_lookup_test.go
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/managedhandler_test.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint, gomodVerify

feat: export explicit target and resource GVK labels
  docs/dimensions-configuration.md
  docs/metrics-export.md
  internal/config/external_config.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/orchestrator/dimensions.go
  internal/orchestrator/dimensions_test.go
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/orchestrator.go
  internal/orchestrator/projectionhelper.go
Due: gofmt, golangci-lint

feat: release v1.1.0
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
  hack/migrate-api-group.sh
Due: none

chore: cleans renovate settings as in org presets
  .github/renovate.json
Due: none

chore(deps): renovate org-preset (#257)
  .github/renovate.json
Due: none

chore: bump version to 1.1.0 (#259)
  README.md
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
  hack/migrate-api-group.sh
Due: none

chore: Add concurrency cancellation to GitHub Actions workflows
  .github/workflows/ci.yaml
  .github/workflows/validate-pr-content.yaml
Due: none

chore: Add concurrency cancellation to GitHub Actions workflows (#263)
  .github/workflows/ci.yaml
  .github/workflows/validate-pr-content.yaml
Due: none

feat: set default OTEL_SERVICE_NAME in helm chart
  charts/metrics-operator/values.yaml
Due: none

Update values.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: set default OTEL_SERVICE_NAME in helm chart (#267)
  charts/metrics-operator/values.yaml
Due: none

feat: release v1.1.1
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

service enabled
  charts/metrics-operator/values.yaml
Due: none

feat: service enabled (#272)
  charts/metrics-operator/values.yaml
Due: none

feat: release v1.1.1 (#270)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

chore: generate
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_datasinks.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedclusteraccesses.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_metrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_remoteclusteraccesses.yaml
Due: none

fix: reduce federated managed metric memory usage
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/federatedmanagedhandler_test.go
Due: gofmt, golangci-lint

fix: changes from code-review
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/federatedmanagedhandler_test.go
  internal/orchestrator/managedhandler_test.go
Due: gofmt, golangci-lint

fix: remove stray disco
  internal/orchestrator/federatedmanagedhandler_test.go
Due: gofmt, golangci-lint

fix: reduce federated managed metric memory usage (#277)
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/federatedmanagedhandler_test.go
  internal/orchestrator/managedhandler_test.go
Due: gofmt, golangci-lint

feat: release v1.2.0
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: release v1.2.0 (#282)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

fix: task generate
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_datasinks.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedclusteraccesses.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_metrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_remoteclusteraccesses.yaml
Due: none

chore(deps): update to go 1.27.1 and other dependencies
  go.mod
  go.sum
Due: gomodVerify

fix: task generate
  go.mod
  go.sum
Due: gomodVerify
