Repository openmcp-project/metrics-operator: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, gomodVerify

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

gomodVerify:
  run: 'go mod tidy -v $@
  
    if [ $? -ne 0 ]; then
  
    exit 2
  
    fi
  
  
    git diff --exit-code go.* &> /dev/null
  
    if [ $? -ne 0 ]; then
  
    echo "go.mod or go.sum differs, please re-add it to your commit"
  
    exit 3
  
    fi
  
    '

need cluster role
  charts/metrics-operator/values.yaml
Due: none

fix: external access cluster name
  internal/config/external_config.go
  internal/config/external_config_test.go
Due: gofmt, golangci-lint

fix: chart rbac rules
  charts/metrics-operator/values.yaml
Due: none

fix: external access cluster name (#164)
  internal/config/external_config.go
  internal/config/external_config_test.go
Due: gofmt, golangci-lint

fix: chart rbac rules (#165)
  charts/metrics-operator/values.yaml
Due: none

init
  api/v1alpha1/common_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
Due: gofmt, golangci-lint

feat: support default values for projections
  README.md
  api/v1alpha1/common_types.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

fix
  README.md
  api/v1alpha1/common_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
Due: gofmt, golangci-lint

feat: support projection default values (#167)
  README.md
  api/v1alpha1/common_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

feat: add support for multiple projections
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/federatedhandler_test.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/managedhandler_test.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

update
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/managedhandler_test.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

refactoring
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/federatedhandler_test.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

fix errors after rebase
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

fix test
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

fix: use spec.Name instead of metadata.Name
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

fix: use spec.Name instead of metadata.Name (#168)
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

feat: add support for multiple projections in federated metric (#166)
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

feat: release v0.10.0
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: release v0.10.0 (#169)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

chore(release): Update VERSION to v0.10.0-dev
  VERSION
Due: none

generate
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedclusteraccesses.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_remoteclusteraccesses.yaml
Due: none

chore: release v0.10.1
  VERSION
Due: none

chore: release v0.10.1 (#186)
  VERSION
Due: none

chore(release): Update VERSION to v0.10.1-dev
  VERSION
Due: none

feat: add support for custom projection values
  README.md
  api/v1alpha1/common_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  docs/dimensions-configuration.md
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

feat: add support for custom projection values (#203)
  README.md
  api/v1alpha1/common_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  docs/dimensions-configuration.md
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/metrichandler.go
  internal/orchestrator/projectionhelper.go
  internal/orchestrator/projectionhelper_test.go
Due: gofmt, golangci-lint

fix: linting
  api/v1alpha1/datasink_types.go
  api/v1alpha1/federatedclusteraccess_types.go
  api/v1alpha1/federatedmanagedmetric_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  api/v1alpha1/remoteclusteraccess_types.go
Due: gofmt, golangci-lint

chore: run generate
  api/v1alpha1/zz_generated.deepcopy.go
Due: gofmt, golangci-lint

chore: replace SAP references with NeoNephos/OpenControlPlane
  CONTRIBUTING.md
  README.md
  REUSE.toml
Due: none

chore: replace SAP references with NeoNephos/OpenControlPlane (#207)
  CONTRIBUTING.md
  README.md
  REUSE.toml
Due: none

chore: update Apache-2.0 license copyright placeholder
  LICENSE
  LICENSES/Apache-2.0.txt
Due: none

chore: update Apache-2.0 license copyright placeholder (#209)
  LICENSE
  LICENSES/Apache-2.0.txt
Due: none

docs(readme): fix link
  README.md
Due: none

feat: release v0.11.0
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: release v0.11.0 (#210)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

chore: group openmcp-project/build renovate updates into one PR
  renovate.json
Due: none

chore: group openmcp-project/build renovate updates into one PR (#213)
  renovate.json
Due: none

feat: release v0.11.1
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
  go.mod
  go.sum
Due: gomodVerify

feat: release v0.11.1 (#217)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
  go.mod
  go.sum
Due: gomodVerify

feat: patch version v0.11.2
  VERSION
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  gomodVerify: any of: {go.mod,go.sum}
