Repository openmcp-project/metrics-operator: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, gomodVerify

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

gomodVerify:
  run: 'go mod tidy -v $@
  
    if [ $? -ne 0 ]; then
  
    exit 2
  
    fi
  
  
    git diff --exit-code go.* &> /dev/null
  
    if [ $? -ne 0 ]; then
  
    echo "go.mod or go.sum differs, please re-add it to your commit"
  
    exit 3
  
    fi
  
    '

chore(deps): update to go 1.27.1 and other dependencies
  go.mod
  go.sum
Due: gomodVerify

feat: release v1.2.1
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: release v1.2.1 (#289)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

fix: expose named metrics with projection labels on /metrics endpoint
  docs/metrics-export.md
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: gofmt, golangci-lint

fix: guard metric names and support dynamic projection schemas
  cmd/metrics-operator/main.go
  docs/dimensions-configuration.md
  docs/metrics-export.md
  internal/clientoptl/optl.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_name_controller_test.go
  internal/controller/reconciler.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/metrics/reserved.go
  internal/metrics/reserved_test.go
  internal/orchestrator/federatedmanagedhandler_test.go
Due: gofmt, golangci-lint

fix: keep prometheus dependencies direct
  go.mod
Due: gomodVerify

test(orchestrator): add Monitor coverage for MetricHandler and ManagedHandler
  internal/orchestrator/managedmonitor_test.go
  internal/orchestrator/metrichandler_test.go
Due: gofmt, golangci-lint

refactor(orchestrator): unify Managed* counting to use extractProjectionGroupsFrom
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/federatedmanagedhandler_test.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/managedmonitor_test.go
Due: gofmt, golangci-lint

chore: apply goimports formatting
  internal/orchestrator/metrichandler_test.go
Due: gofmt, golangci-lint

fix(lint): remove unused getResourcesStatus method
  internal/orchestrator/managedhandler.go
Due: gofmt, golangci-lint

fix: expose named metrics with projection labels on /metrics endpoint (#296)
  cmd/metrics-operator/main.go
  docs/dimensions-configuration.md
  docs/metrics-export.md
  go.mod
  internal/clientoptl/optl.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_name_controller_test.go
  internal/controller/reconciler.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/metrics/reserved.go
  internal/metrics/reserved_test.go
  internal/orchestrator/federatedmanagedhandler_test.go
Due: gofmt, golangci-lint, gomodVerify

Ensure metric base dimensions use resource identity
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/federatedhandler_test.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint

Fix managed metric base dimensions
  internal/orchestrator/managedhandler.go
  internal/orchestrator/managedhandler_test.go
  internal/orchestrator/managedmonitor_test.go
Due: gofmt, golangci-lint

Fix federated managed metric aggregation
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/federatedmanagedhandler_test.go
Due: gofmt, golangci-lint

fix: integrate authoritative metric dimensions and document counting contracts
  api/v1alpha1/managedmetric_types.go
  cmd/metrics-operator/embedded/crds/metrics.open-control-plane.io_managedmetrics.yaml
  docs/dimensions-configuration.md
  internal/orchestrator/federatedhandler.go
  internal/orchestrator/federatedhandler_test.go
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/federatedmanagedhandler_test.go
  internal/orchestrator/managedmonitor_test.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint

fix: format federated handler test imports
  internal/orchestrator/federatedhandler_test.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  gomodVerify: any of: {go.mod,go.sum}
