Repository openmcp-project/metrics-operator: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, gomodVerify

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    gomodVerify:
      glob: "{go.mod,go.sum}"
      run: |
        go mod tidy -v $@
        if [ $? -ne 0 ]; then
        exit 2
        fi

        git diff --exit-code go.* &> /dev/null
        if [ $? -ne 0 ]; then
        echo "go.mod or go.sum differs, please re-add it to your commit"
        exit 3
        fi

feat: patch version v0.11.2 (#219)
  VERSION
Due: none

feat: release v0.11.3
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: release v0.11.3 (#222)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

Adapt chart for service provider
  charts/metrics-operator/templates/deployment.yaml
  charts/metrics-operator/templates/rbac.yaml
  charts/metrics-operator/values.yaml
  charts/metrics-operator/values.yaml.tpl
Due: none

negate
  charts/metrics-operator/templates/deployment.yaml
  metrics-operator-v0.11.3.tgz
Due: none

feat: improve DataSink handling in reconciliation process 🛠️
  internal/clientoptl/optl.go
  internal/controller/metric_controller_test.go
  internal/metrics/metrics.go
Due: gofmt, golangci-lint

feat: expose domain metrics via /metrics; make DataSink optional
  go.mod
  internal/clientoptl/optl.go
  internal/controller/datasink_utils.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
  internal/metrics/metrics.go
Due: gofmt, golangci-lint, gomodVerify

refactor: simplify DataSink-optional flow
  internal/clientoptl/optl.go
  internal/controller/datasink_utils.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

refactor: simplify DataSink-optional flow
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

fix: remove stray character and fix goimports ordering
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
Due: gofmt, golangci-lint

Remove unncessary resrouces and values
  charts/metrics-operator/templates/deployment.yaml
  charts/metrics-operator/templates/rbac.yaml
  charts/metrics-operator/templates/secret-webhooks.yaml
  charts/metrics-operator/templates/service-webhooks.yaml
  charts/metrics-operator/values.yaml
  charts/metrics-operator/values.yaml.tpl
Due: none

feat!: rename API group from metrics.openmcp.cloud to metrics.open-control-plane.io
  hack/migrate-api-group.sh
Due: none

feat: 🔄 update API group from metrics.openmcp.cloud to metrics.open-control-plane.io
  charts/metrics-operator/templates/rbac.yaml
Due: none

fix: add missing {{- end }} in rbac.yaml template
  charts/metrics-operator/templates/rbac.yaml
Due: none

fix: correct memory resource quantities from GB to Gi
  charts/metrics-operator/values.yaml
  charts/metrics-operator/values.yaml.tpl
Due: none

fix: add missing {{- end }} in rbac.yaml and correct memory quantities to Gi
  charts/metrics-operator/templates/rbac.yaml
  charts/metrics-operator/values.yaml
  charts/metrics-operator/values.yaml.tpl
Due: none

feat: auto-migrate API group in init container
  cmd/metrics-operator/main.go
  internal/migration/apigroup.go
Due: gofmt, golangci-lint

feat: release v0.12.0
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

feat: release v0.12.0 (#232)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
Due: none

Revert "feat: auto-migrate API group in init container"
  cmd/metrics-operator/main.go
  internal/migration/apigroup.go
Due: gofmt, golangci-lint

feat: update DataSinkRef description for metrics exposure 📊
  api/v1alpha1/federatedmanagedmetric_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
Due: gofmt, golangci-lint

Signed-off-by: Michael Sprauer <Michael.Sprauer@sap.com>
  internal/controller/datasink_utils.go
Due: gofmt, golangci-lint

fix: go.mod file
  go.mod
Due: gomodVerify

feat: adapt chart to be used in service provider (#227)
  charts/metrics-operator/templates/deployment.yaml
  charts/metrics-operator/templates/rbac.yaml
  charts/metrics-operator/templates/secret-webhooks.yaml
  charts/metrics-operator/templates/service-webhooks.yaml
  charts/metrics-operator/values.yaml
  charts/metrics-operator/values.yaml.tpl
  metrics-operator-v0.11.3.tgz
Due: none

fix: update DataSinkRefDefault test to expect nil
  internal/controller/metric_controller_test.go
Due: gofmt, golangci-lint

feat: release v0.13.0
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
  metrics-operator-v0.11.3.tgz
Due: none

feat: expose domain metrics via /metrics; make DataSink optional (#228)
  api/v1alpha1/federatedmanagedmetric_types.go
  api/v1alpha1/federatedmetric_types.go
  api/v1alpha1/managedmetric_types.go
  api/v1alpha1/metric_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmanagedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_federatedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_managedmetrics.yaml
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_metrics.yaml
  go.mod
  internal/clientoptl/optl.go
  internal/controller/datasink_utils.go
  internal/controller/federatedmanagedmetric_controller.go
  internal/controller/federatedmetric_controller.go
  internal/controller/managedmetric_controller.go
  internal/controller/metric_controller.go
  internal/controller/metric_controller_test.go
  internal/metrics/metrics.go
Due: gofmt, golangci-lint, gomodVerify

feat: release v0.13.0 (#236)
  VERSION
  charts/metrics-operator/Chart.yaml
  charts/metrics-operator/values.yaml
  metrics-operator-v0.11.3.tgz
Due: none

feat: 📚 Add comprehensive documentation for Metrics Operator
  README.md
  docs/architecture.md
  docs/datasink-configuration.md
  docs/development.md
  docs/installation.md
  docs/rbac.md
  docs/remote-cluster-access.md
  docs/usage.md
Due: none

chore: update documentation and fix typo in protocol table
  .gitignore
  README.md
  api/v1alpha1/datasink_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
  docs/development.md
  docs/installation.md
  docs/metrics-export.md
  docs/usage.md
Due: gofmt, golangci-lint

fix: address PR comments
  docs/metrics-export.md
  docs/usage.md
Due: none

feat: Add comprehensive documentation for Metrics Operator
  .gitignore
  README.md
  api/v1alpha1/datasink_types.go
  cmd/metrics-operator/embedded/crds/metrics.openmcp.cloud_datasinks.yaml
  docs/architecture.md
  docs/datasink-configuration.md
  docs/development.md
  docs/installation.md
  docs/metrics-export.md
  docs/rbac.md
  docs/remote-cluster-access.md
  docs/usage.md
Due: gofmt, golangci-lint

chore: replace hardcoded secret paths with generic gitignore patterns
  .gitignore
  Taskfile.yaml
  docs/development.md
Due: none

chore: replace hardcoded secret paths with generic gitignore patterns (#244)
  .gitignore
  Taskfile.yaml
  docs/development.md
Due: none

fix: resolve goconst lint errors from stricter golangci-lint v2
  .golangci.yaml
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint

fix: resolve goconst lint errors from stricter golangci-lint v2 (#245)
  .golangci.yaml
  internal/orchestrator/federatedmanagedhandler.go
  internal/orchestrator/managedhandler.go
  internal/orchestrator/metrichandler.go
Due: gofmt, golangci-lint

feat: support Kubernetes admin, edit and view role aggregation
  charts/metrics-operator/templates/rbac.yaml
Due: none

chore: cleanups as per code review
  config/rbac/clientconfig_editor_role.yaml
  config/rbac/clientconfig_viewer_role.yaml
  hack/migrate-api-group.sh
Due: none

chore: revert version bump
  VERSION
Due: none
